# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Windows shortcuts
*.lnk

# pboproject log files
*.log

# output pbo files
*.pbo

# keys
*.bikey
*.biprivatekey
*.bisign

# hemtt releases folder
releases/
fn_transferloop - Copy.sqf
stretchertest.sqf
addons/ZSN_SoundTrack/$PBOPREFIX$.txt
addons/ZSN_SoundTrack/Chuck_Kick_Ass/backInTime.ogg
addons/ZSN_SoundTrack/Chuck_Kick_Ass/badRobots.ogg
addons/ZSN_SoundTrack/Chuck_Kick_Ass/boysOnBike.ogg
addons/ZSN_SoundTrack/Chuck_Kick_Ass/chuckKickAss.ogg
addons/ZSN_SoundTrack/Chuck_Kick_Ass/comatose.ogg
addons/ZSN_SoundTrack/Chuck_Kick_Ass/doubts.ogg
addons/ZSN_SoundTrack/Chuck_Kick_Ass/fistOfFury.ogg
addons/ZSN_SoundTrack/Chuck_Kick_Ass/learningPunch.ogg
addons/ZSN_SoundTrack/Chuck_Kick_Ass/master.ogg
addons/ZSN_SoundTrack/Chuck_Kick_Ass/menInBlack.ogg
addons/ZSN_SoundTrack/Chuck_Kick_Ass/negociation.ogg
addons/ZSN_SoundTrack/Chuck_Kick_Ass/neonCity.ogg
addons/ZSN_SoundTrack/Chuck_Kick_Ass/theDeal.ogg
addons/ZSN_SoundTrack/Chuck_Kick_Ass/trojanHorse.ogg
addons/ZSN_SoundTrack/Chuck_Kick_Ass/underTheMask.ogg
addons/ZSN_SoundTrack/Config.cpp
addons/ZSN_SoundTrack/Dark_Skies/bloodBrothers.ogg
addons/ZSN_SoundTrack/Dark_Skies/bornOfAHero.ogg
addons/ZSN_SoundTrack/Dark_Skies/darkSkiesAndOtherDisasters.ogg
addons/ZSN_SoundTrack/Dark_Skies/faction.ogg
addons/ZSN_SoundTrack/Dark_Skies/fightForAfter.ogg
addons/ZSN_SoundTrack/Dark_Skies/horde.ogg
addons/ZSN_SoundTrack/Dark_Skies/inYourFace.ogg
addons/ZSN_SoundTrack/Dark_Skies/lastHope.ogg
addons/ZSN_SoundTrack/Dark_Skies/massiveImpact.ogg
addons/ZSN_SoundTrack/Dark_Skies/message.ogg
addons/ZSN_SoundTrack/Dark_Skies/passage.ogg
addons/ZSN_SoundTrack/Dark_Skies/prepairForTheirFall.ogg
addons/ZSN_SoundTrack/Dark_Skies/skyline.ogg
addons/ZSN_SoundTrack/Dark_Skies/theCell.ogg
addons/ZSN_SoundTrack/Dark_Skies/theFog.ogg
addons/ZSN_SoundTrack/Dark_Skies/titansAwakening.ogg
addons/ZSN_SoundTrack/Mindhunter/asItHappened.ogg
addons/ZSN_SoundTrack/Mindhunter/bioHazard.ogg
addons/ZSN_SoundTrack/Mindhunter/DNA.ogg
addons/ZSN_SoundTrack/Mindhunter/forensic.ogg
addons/ZSN_SoundTrack/Mindhunter/gunshots.ogg
addons/ZSN_SoundTrack/Mindhunter/inSearchFor.ogg
addons/ZSN_SoundTrack/Mindhunter/mindhunter.ogg
addons/ZSN_SoundTrack/Mindhunter/reloaded.ogg
addons/ZSN_SoundTrack/Mindhunter/revelation.ogg
addons/ZSN_SoundTrack/Mindhunter/secretAgent.ogg
addons/ZSN_SoundTrack/Mindhunter/virtualReality.ogg
iconviewer.sqf
